body {

    background: url(images/bundestag.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

h1 {
    
	color: white;	
	font-size: 3em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;    
	margin-bottom: 2em;

}

button{

	width: 7.4em;
	height: 2.8em;
	font-size: x-large; 
	font-family: verdana;
	margin-bottom: 0.7em;
	margin-top: 0.7em;

}

select {

	align-items: center;  
    font-size: x-large;        
	font-family: verdana;
	width: 180px;
	margin-bottom: 3%;
	
}

.lobbyTop{
	
	text-align: center;

}

.playerNames {
    
	color: white;
	text-align: center;
	font-size: 2.7em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    
}

.center {

	display: flex;
	justify-content: center;
	align-items: center;

}

#hitler {

    margin-top: 2em;

}

#observation {
    
	color: rgb(236, 66, 66);
	text-align: center;
	font-size: 2.7em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
	margin-bottom: 0.4em;
    
}
