body {

    background: url(images/bundestag.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    
	color: white;	
	font-size: 3em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;    
	margin-bottom: 0.5em;
}

img {    
	
	width: 8%;
	height: 16%;
	cursor: pointer;
}

select {

	align-items: center;  
    font-size: x-large;        
	font-family: verdana;
	width: 180px;
	margin-bottom: 3%;
	
}

input{

	font-size: x-large; 	
	text-align: center;
	font-family: verdana;
	margin-bottom: 1em;

}

button{

	width: 7em;
	height: 2.3em;
	font-size: x-large; 
	font-family: verdana;
	margin-bottom: 0.7em;

}

.center {

	display: flex;
	justify-content: center;
	align-items: center;
}

.lobbyTop{
	
	text-align: center;

}

.playerNames {
    
	color: white;
	text-align: center;
	font-size: 2em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    
}

#currentPlayerName {

    font-size: 2.5em; 
    margin-bottom: 0.5em;

}

#figureStart {
	
	position: absolute;
	right: 28px;
	bottom: 35px;
	
}

#figureBack {
	position: absolute;
	left: 28px;	
	bottom: 35px;
	
}
