body {

    background: url(images/bundestag.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    
	color: white;
	text-align: center;
	font-size: 3em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;    
}

img {    
	width: 8%;
	height: 16%;
}

.playerNames {
    
	color: white;
	text-align: center;
	font-size: 2em; 
	font-family: verdana;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    
}

/*.figures {
	
}*/

#currentPlayerName {

    font-size: 2.5em; 
    margin-bottom: 1em;

}

#figureStart {
	
	position: absolute;
	right: 28px;
	bottom: 35px;
	
}

#figureBack {
	position: absolute;
	left: 28px;	
	bottom: 35px;
	
}
