{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" href="{% static 'styleLobby.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
  </head>
  <body>
    <div class="playerNames">
        Der Name, den du gewählt hast, ist bereits vergeben. Bitte wähle einen anderen Namen.  <br>
        Du wirst in ein paar Sekunden weitergeleitet...
    </div>
                
    <script> 
        $(document).ready(function(){
        setInterval(function(){
            location.replace("/");
                
        }, 6000);
        });  
    </script>

  </body>
</html>
