{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="{% static 'styleGame.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <body>        
        <h1 class="lobbyTop">Deine Rolle: {{role}}</h1>

        {% if allies != "" %}
            <div class="playerNames">
                Andere Faschisten:
            </div>
        {% endif %}

        {% for person in allies %}
            <div id="allies" class="playerNames">
               - {{person}}
            </div>        
        {% endfor %}

        {% if role == "Faschist" %}
            <div id="hitler" class="playerNames">
                Hitler ist: {{hitler}}
            </div>
        {% endif %}

        <div id="observations">
            {% for observer, observed in observations %}
            <div id="observation">
                {{observer}} hat sich {{observed}} angeschaut!
            </div>
            {% endfor %}     
        </div>
        
        <form class="center"  method="POST">
            {% csrf_token %}
            <button id="showRole" type="button" onclick="viewRole();">Membership ansehen</button> 
        </form>
     
        <div class="center">
            <select  id="otherPlayers">
            {% for player in lobby %}
                <option value="{{player}}">{{player}}</option>
            {% endfor %}        
            </select>
        </div>
        
        <!-- Error message -->
        <div class="playerNames" id="eM"></div>

        <script>

            $(document).ready(function(){
                setInterval(function(){
                    
                    $("#observations").load(window.location.href + " #observations" );            
                    updateView();
                        
                }, 3000);
                });  

            function viewRole(){
                
                var selectSection = document.getElementById('otherPlayers');
                var playerToWatch = selectSection.options[selectSection.selectedIndex].text;

                if (confirm('Rolle von ' + playerToWatch + ' ansehen? Dies wird den anderen Spielern mitgeteilt.')){
                    sendMessage(playerToWatch);
                }
            }
            
            function sendMessage(player){

                // TODO make possible for multiple lobbies
                lobbyID = 0;

                $.ajax({
                    type: 'POST',
                    url:'/requestRoleSH',                                            
                    data: {'playerToWatch': player},      
                    success: function(data) {                            
                        
                        var playerRole = data[player];
                        if (playerRole.localeCompare("Liberal") == 0){

                            confirm( player + " gehört natürlich zu den Guten und ist Liberal!");
                        
                        }else{

                            confirm( player + " ist offensichtlich ein böser Bube und gehört zu den Faschisten!");
                        }
                    }
                    ,  
                    error: function(data){
                        console.log("Error");
                        console.log(data);
                        document.getElementById('eM').innerHTML = "Es gab ein Fehler, bitte lade die Seite neu und versuche es noch einmal";
                    }                    
                });
            };

            $(function() {                    
                var csrftoken = getCookie('csrftoken');

                /*
                The functions below will create a header with csrftoken
                */

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                function sameOrigin(url) {
                    // test that a given url is a same-origin URL
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }                                
        </script>
    </body>
</html>

