{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="{% static 'styleGame.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <body>        
        <h1 class="lobbyTop">Deine Rolle: {{role}}</h1>

        {% if allies != "" %}
            <div class="playerNames">
                Andere Faschisten:
            </div>
        {% endif %}

        {% for person in allies %}
            <div id="allies" class="playerNames">
               - {{person}}
            </div>        
        {% endfor %}

        {% if role == "Faschist" %}
            <div id="hitler" class="playerNames">
                Hitler ist: {{hitler}}
            </div>
        {% endif %}

        <div class="center">
            <button id="showRole"' type="button" onclick=''>Membership ansehen</button> 
        </div>

    </body>
</html>

