{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" href="{% static 'styleLobby.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
  </head>
  <body>

    <div class="lobbyTop">
      <h1>Lobby</h1>

      <select name="modes" id="modeSelect">
        <option value="werWolf">Werwolf</option>
        <option value="secretHitler">Secret Hitler</option>        
      </select> 
    </div>

    <div id="currentPlayerName" class="playerNames">
      Dein Name: 
    </div>

    <div class="figures">              
          
      <img src="{% static 'images/play.webp' %}" id="figureStart" title="start" alt="start" onclick="init()">        
      
      <a href="/removePlayer">
        <img src="{% static 'images/back.webp' %}" id="figureBack" title="back" alt="back">
      </a>           

    </div>

    <script> 
      document.getElementById('currentPlayerName').innerHTML = 'Dein Name: ' + JSON.parse(getCookie('userData')).playerName;

      // if redirected from other pace show start URL
      if ((location.pathname+location.search).substr(1) != 'lobby'){
            location.replace("/lobby");
      }
      
      $(document).ready(function(){
      setInterval(function(){
            
            // TODO reload with POST
            //$("#lobbyPlayerList").load(window.location.reload());
            $("#lobbyPlayerList").load(window.location.href + " #lobbyPlayerList" );            
            updateView();
            
      }, 2000);
      });  
      
      function init() {
        
        var selectSection = document.getElementById('modeSelect');
        var currentMode = selectSection.options[selectSection.selectedIndex].text;
        
        if (currentMode == 'Secret Hitler') {
          if (confirm('Spiel starten?')){
            location.replace('/gameSH');
          }          
        } else {
          location.replace('/werwolfList');
        }
      }

      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
      console.log(document.cookie)
    </script>     

    <div id="lobbyPlayerList">                  
      {% for id, name in lobbyList.items %}

        <div id="Player {{ forloop.counter }}" class="playerNames">
          Player {{ forloop.counter }}: {{name}}
        </div>                          
      
      {% endfor %}
    </div>
    
    <script>
        function updateView(){

          var playerOne = document.getElementById('Player 1').innerHTML.split(':')[1].trim();     
          var player5 = document.getElementById('Player 5');
          var player11 = document.getElementById('Player 11');     
          var playerNameCookie = JSON.parse(getCookie('userData')).playerName;         
          
          var player5Exists = player5 != null ;
          var player11NotExists = player11 == null;
          var playerIsPlayer1 = playerNameCookie.localeCompare(playerOne) == 0;
          
          var selectSection = document.getElementById('modeSelect');
          var validSH = selectSection.options[selectSection.selectedIndex].text == "Secret Hitler" && player11NotExists;
          var gameSH = selectSection.options[selectSection.selectedIndex].text == "Werwolf"
          
          if (playerIsPlayer1 && player5Exists && (validSH || gameSH)){
            
            document.getElementById('figureStart').style.visibility = 'visible'; 
            document.getElementById('modeSelect').style.visibility = 'visible';  

          } else if (playerIsPlayer1){

            document.getElementById('figureStart').style.visibility = 'hidden';
            document.getElementById('modeSelect').style.visibility = 'visible';  

          } else {
            document.getElementById('figureStart').style.visibility = 'hidden';
            document.getElementById('modeSelect').style.visibility = 'hidden';
          }
          
          if ("{{gameState}}".localeCompare("lobby") != 0){
            location.replace("/{{gameState}}");          
          } 
        } 

        updateView();
                
    </script>
  </body>
</html>
