{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset ="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" href="{% static 'styleLobby.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="lobbyTop">
      <h1>Lobby</h1>

      <select name="modes" id="modeSelect">
        <option value="werWolf">Werwolf</option>
        <option value="secretHitler">Secret Hitler</option>        
      </select> 
    </div>

    <div id="currentPlayerName" class="playerNames">
      Dein Name: 
    </div>
      
    <div id="lobbyPlayerList">          
        
      {% for id, name in lobbyList.items %}
        <div class="playerNames">
          Player {{ forloop.counter }}: {{name}}
        </div>        
      {% endfor %}
    </div>

    <div class="figures">        
      <div id="onlyPlayerOne">
        <a  >
          <img src="{% static 'images/play.webp' %}" id="figureStart" title="start" alt="start" onclick="myFunction()">
        </a>     
      </div>
      
      <a href="/removePlayer">
        <img src="{% static 'images/back.webp' %}" id="figureBack" title="back" alt="back">
      </a>           
    </div>

    <script> 
      document.getElementById('currentPlayerName').innerHTML = 'Dein Name: ' + JSON.parse(getCookie('userData')).playerName;

      $(document).ready(function(){
      setInterval(function(){
            $("#lobbyPlayerList").load(window.location.href + " #lobbyPlayerList" );
            $("#figureStart").load(window.location.href + " #figureStart" );
      }, 1000);
      });  
      // TODO add img start to reload 
      // href="/game"

      function myFunction() {
        var txt;
        if (confirm("Press a button!")) {
          txt = "You pressed OK!";
        } else {
          txt = "You pressed Cancel!";
        }
        document.getElementById("demo").innerHTML = txt;
      }

      function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
              for (var i = 0; i < cookies.length; i++) {
                  var cookie = jQuery.trim(cookies[i]);
                  // Does this cookie string begin with the name we want?
                  if (cookie.substring(0, name.length + 1) == (name + '=')) {
                      cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                      break;
                  }
              }
          }
          return cookieValue;
      }
      console.log(getCookie('userData'))
    </script>      

    {% for id, name in lobbyList.items %}  
    <script>            
      if ("{{ forloop.counter}}" == 1 && JSON.parse(getCookie('userData')).playerID != "{{id}}"){
        document.getElementById('onlyPlayerOne').style.display = 'none';
        document.getElementById('modeSelect').style.display = 'none';        
      }          
    </script>
    {% endfor %}

  </body>
</html>
