{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="{% static 'styleLobby.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <body>    
        
        <h1 id="title" class="lobbyTop">Spielbare Rollen ({{playerCount}})</h1>
        
        <div class="center">            
            <!-- TODO edit option with checkboxes for what that role can see -->
            <ol id="roleList" class="playerNames"></ol> 
        </div>

        <div class="center">
            <input id="roleInput" type="text">
        </div> 
            
        <div class="center">
            <button id='buttonAdd' type="button" onclick='addRole();'>Hinzufügen</button> 
        </div>
        
        <div class="center">
            <button id='buttonRemove' type="button" onclick='removeRole();'>Entfernen</button> 
        </div>
  
        <div class="figures">                    
            
            <img src="{% static 'images/play.webp' %}" id="figureStart" title="start" alt="start" onclick="startGame();"> 
            <!-- <button type="submit" onclick="sendRoles();" title="start" id="figureStart"><span>Cancel</span></button> -->
            
            <!-- TODO open lobby again when going back-->
            <a href="/reopenLobby">
                <img src="{% static 'images/back.webp' %}" id="figureBack" title="back" alt="back">
            </a>  
        </div>

        <form id="forwardLobby"  method="POST">
            <!-- {% csrf_token %} add in form method="POST"  action="/forward/ action="/gameWW"-->
            {% csrf_token %}
            <button id="startButton"></button>
        </form>

        <script>
            $(document).ready(function(){
                $('#roleInput').keypress(function(e){
                if(e.keyCode==13)
                $('#buttonAdd').click();
                });
            });

            document.getElementById('figureStart').style.visibility = 'hidden';
            document.getElementById('startButton').style.visibility = 'hidden';
            
            var currentRoleNumber = 0;
            var maxRoleNumber = "{{playerCount}}";

            function addRole(){

                var roleList = document.getElementById("roleList");
                var newRole = document.getElementById("roleInput").value;

                if (newRole != ''){
                    
                    if (currentRoleNumber == maxRoleNumber)                        
                        return;
            
                    var newRoleListItem = document.createElement("li");      
                    newRoleListItem.setAttribute("id", "role " + currentRoleNumber);
                    
                    var roleListValue = document.createTextNode(newRole);

                    newRoleListItem.appendChild(roleListValue);                
                    roleList.appendChild(newRoleListItem);

                    currentRoleNumber++;
                    document.getElementById("roleInput").value = '';
                    
                    if (currentRoleNumber == maxRoleNumber){
                        document.getElementById('buttonAdd').setAttribute('disabled','disabled');
                        document.getElementById('figureStart').style.visibility = 'visible';
                    }
                }
            }

            function removeRole(){

                if (currentRoleNumber==0)
                    return;

                var lastRole = document.getElementById('roleList').lastChild;
                lastRole.parentNode.removeChild(lastRole);     
                
                currentRoleNumber--;
                document.getElementById('buttonAdd').removeAttribute('disabled');
                document.getElementById('figureStart').style.visibility = 'hidden';
            }

            function getRoles(){

                var currentRoleList = document.getElementById('roleList');
                var currentRole = currentRoleList.firstChild;
                var roles = [];
                while(currentRole != null){
                    
                    
                    roles.push(currentRole.innerHTML);
                    currentRoleList.removeChild(currentRole); 

                    currentRole = currentRoleList.firstChild;
                }
                                
                currentRoleNumber = 0;
                document.getElementById('buttonAdd').removeAttribute('disabled');
                return roles;
            }

            function startGame(){      
                if (confirm('Spiel starten?')){
                    document.getElementById('startButton').click();                
                }            
            }

            console.log(document.cookie)

            $('#forwardLobby').on('submit', function(event){
                event.preventDefault();
                // in case form is send twice
                event.stopImmediatePropagation();

                var roleArray = getRoles(); 
                console.log(roleArray);                   
                
                var fd = new FormData();
                fd.append("roles", "1");                                        

                $.ajax({
                    type: 'POST',
                    url:'/addRoles',                                            
                    data: {'roles': JSON.stringify(roleArray)},      
                    success: function(data) {                            
                        location.replace('/gameSH');
                    }
                    ,  
                    error: function(data){
                        console.log("Error");
                        console.log(data);
                        document.getElementById('title').innerHTML = "Es gab ein Fehler, bitte lade die Seite neu und versuche es noch einmal";                                                            
                    }                    
                });
            });

            $(function() {                    
                var csrftoken = getCookie('csrftoken');

                /*
                The functions below will create a header with csrftoken
                */

                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                function sameOrigin(url) {
                    // test that a given url is a same-origin URL
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }

                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });

            });

            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }                                
        </script>        
    </body>
</html>

