{% load static%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset ="UTF-8">
        <title>Start</title>
        <link rel="stylesheet" href="{% static 'styleLobby.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/std-icon.png' %}">
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>
    </head>
    <body>    
        
        <h1 class="lobbyTop">Roles to play</h1>
        
        <div class="center">            
            <!-- TODO edit option with checkboxes for what that role can see -->
            <ol id="roleList" class="playerNames"></ol> 
        </div>

        <div class="center">
            <input id="roleInput" type="text">
        </div> 
            
        <div class="center">
            <button id='buttonAdd' type="button" onclick='addRole();'>Add</button> 
        </div>
        
        <div class="center">
            <button id='buttonRemove' type="button" onclick='removeRole();'>Remove</button> 
        </div>
  
        <div class="figures">        
                               
            <img src="{% static 'images/play.webp' %}" id="figureStart" title="start" alt="start" onclick="startGame()">                      
            
            <a href="/lobby">
                <img src="{% static 'images/back.webp' %}" id="figureBack" title="back" alt="back">
            </a>  
        </div>

        <script>
            $(document).ready(function(){
                $('#roleInput').keypress(function(e){
                if(e.keyCode==13)
                $('#buttonAdd').click();
                });
            });

            document.getElementById('figureStart').style.visibility = 'hidden';

            var currentRoleNumber = 0;
            var maxRoleNumber = 2;

            function addRole(){

                var roleList = document.getElementById("roleList");
                var newRole = document.getElementById("roleInput").value;

                if (newRole != ''){
                    
                    if (currentRoleNumber == maxRoleNumber)                        
                        return;
            
                    var newRoleListItem = document.createElement("li");      
                    newRoleListItem.setAttribute("id", "role " + currentRoleNumber);
                    
                    var roleListValue = document.createTextNode(newRole);

                    newRoleListItem.appendChild(roleListValue);                
                    roleList.appendChild(newRoleListItem);

                    currentRoleNumber++;
                    document.getElementById("roleInput").value = '';
                    
                    if (currentRoleNumber == maxRoleNumber){
                        document.getElementById('buttonAdd').setAttribute('disabled','disabled');
                        document.getElementById('figureStart').style.visibility = 'visible';
                    }
                }
            }

            function removeRole(){

                if (currentRoleNumber==0)
                    return;

                var lastRole = document.getElementById('roleList').lastChild;
                lastRole.parentNode.removeChild(lastRole);     
                
                currentRoleNumber--;
                document.getElementById('buttonAdd').removeAttribute('disabled');
                document.getElementById('figureStart').style.visibility = 'hidden';
            }

            function startGame(){

                if(confirm('Start Game?')){
                    //location.replace('/game');
                    getRoles();
                }
            }

            function getRoles(){

                var currentRoleList = document.getElementById('roleList');
                var currentRole = currentRoleList.firstChild;
                while(currentRole != null){
                    
                    // TODO add to cookie resp. to http message

                    currentRoleList.removeChild(currentRole); 
                    var currentRole = currentRoleList.firstChild;
                }
                
            }
            
        </script>
        
    </body>
</html>

